.pill {
  height: 2.8rem;
  width: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.68rem;
}
.pill.success {
  background-color: var(--bg-color-success);
  color: var(--text-color-success);
}
.pill.warning {
  background-color: var(--bg-color-warning);
  color: var(--text-color-warning);
}
.pill.danger {
  background-color: var(--bg-color-danger);
  color: var(--text-color-danger);
}
