.single-line-loader {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.single-line-loader-2 {
  width: 100%;
  height: 100%;
}
.skeleton-loader {
  display: block;
  background-color: #bdc3c7;
  animation-name: skeletonAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes skeletonAnimation {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}
